html,body,#app{
    margin:0;
    padding:0;
    height: 100%;
}
.el-menu-item-group__title{
    padding: 0;
}
.el-submenu__title:hover, .el-menu-item:hover {
    background-image: linear-gradient(to right, #dbe3ec, #4e5e5e);
}
/*aside长度自适应*/
.el-aside{
    width: auto !important;
}
/*el form左边标签的样式*/
.el-form-item__label{
    color: white;
}
